
.app-container{
    flex-direction: column;
    height:100%;
    min-width:100vw;
    display: flex;
    position: absolute;
    background-color: black;
  }
  .horizontal-divider{
    height: 0.5px;
    background-color:brown;
    width: 100%;
  }
  .header{
    padding: 0;
    margin-top: 0;
    background-color:#4A0404;
    width: 100%;
    min-height: 55px;
  }
  
  